<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>

    <header class="header">
        <h1>Emotional Recognition</h1>

        <nav class="navbar">
            <a href="#">HOME</a>
            <a href="/profile">PROFILE</a>
            <a href="/logout">LOGOUT</a>
        </nav>
    </header>
    <button><a href="/webcam">Start Here</a></button>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>